.banner-search {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-left: 5vw;
}

.banner-search input {
  width: 100%;
  padding: 10px 40px 10px 35px; /* space for icon (left) & clear btn (right) */
  border-radius: 10px;
  border: 1px solid #333;
  background: #1f1f1f;
  color: #fff;
  font-size: 14px;
  outline: none;
  transition: 0.2s ease;
}

.banner-search input::placeholder {
  color: #888;
}

.banner-search input:focus {
  background: #2a2a2a;
  border-color: #5423D2;
  box-shadow: 0 0 8px #5423D2;
}

/* search icon */
.banner-search .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

/* clear button */
.clear-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #aaa;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
}

.clear-btn:hover {
  color: #fff;
}
.banner-manager-header h4 {
  font-weight: 500;
  background: rgba(255, 255, 255, 0.074);
  padding: 20px 24px;
  border-radius: 30px;
  color: #6d6d6d;
  font-family: 'DM Sans';
  cursor: pointer;
  transition: 0.2s;
  margin-right: 4vw;
}
.banner-manager-header h4:hover {
  color: #fff;
}