.promo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
  width: 100%;
}

.promo-banner-link {
  display: block;
  width: 89%;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.promo-banner-link:hover {
  transform: scale(1.01);
  opacity: 0.95;
}

.promo-banner-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 24px;
  object-fit: cover;
}

/* Mobile styles */
@media (max-width: 768px) {
  .promo-banner-link {
    width: 100%;
  }
  
  .promo-banner-image {
    border-radius: 0px;
  }
}