/* Hide horizontal overflow on small devices up to tablets */
html, body, #root {
  overflow-x: hidden;
}

body {
  font-family: 'DM Sans';
}

/* Optional: only apply for screens <= tablet width */
@media (max-width: 1024px) {
  html, body, #root {
    overflow-x: hidden;
  }
}
