.LagFooter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 3vw;
  margin-left: 5vw;
}

.lagos-footer-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Mobile styles */
@media (max-width: 768px) {
  .LagFooter-container {
    margin-top: 2vw;
  }
}